<!-- <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"> Elliot
    </div>
    <div class="image">
      <img  src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg">
</div> -->
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 col-lg-2 col-xl-2" *ngFor="let movie of Movies; let i = index">
      <br>
     <div class="card">
      <img class="card-img-top" src='https://image.tmdb.org/t/p/original{{movie.backdrop_path}}' alt="">
      <div class="card-body">

      <h4 class="card-title">Movie Title:{{ movie.original_title}}</h4>
        <!-- <p class="card-text">Description:{{ movie.overview}}</p> 
        <p class="card-text">Release Date: {{ movie.release_date}}</p>
        <p class="card-text">Language: {{movie.original_language}}</p>
          <p class="card-text">Vote Avarage: {{movie.vote_avarage}}</p> -->

      
    <!-- <div>
  
    <p class="" title="Avengers">
      This movie was relieased on : {{movie.release_date}}
      
    </p>
    </div> -->


      </div>
     </div>
     
    </div>
   
  </div>
</div>

