
body{
    background-color: #261B8D;
}
    p{
    color: white;
    text-align: center;
}
h1{
    color: purple;
    text-align: center;
    font-weight: bold;
    font-size: 600%;
}
h5{
    color: black;
    text-align: center;
}