<!-- <div class="col-6" style="background-color: red;">
    <div class="row">
    </div>
</div> -->

<div class="bg-image" style="background-image: url('https://www.themoviedb.org/t/p/original/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg'); 
    height: 100vh; background-size: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0); height: 50vh;">
        <div class="d-flex justify-content-center align-items-center h-100">
        </div>
    </div>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 50vh;">
        <div class="d-flex">
            <div class="col-8">
                <div class="title">
                    <h2>Avengers EndGame</h2>
                </div>
                <div class="des">
                    <p>After half of all life is snapped away by Thanos, the Avengers are left scattered and divided.
                        Now with a way to reverse the damage, the Avengers and their allies must assemble once more
                        and learn to put differences aside in order to work together and set things right.</p>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="info col-4">
                    <div class="genre">
                        <p><b>Genre : </b>Action, Adventure </p><br>
                    </div>
                    <div class="director">
                        <p><b>Director : </b>Anthony Russo </p><br>
                    </div>
                    <div class="country">
                        <p><b>Country : </b>United States </p>
                    </div>
                </div>
                <div class="info col-4">
                    <div class="genre">
                        <p><b>Release Date : </b>2019 </p><br>
                    </div>
                    <div class="director">
                        <p><b>Rating : </b>9.7 </p><br>
                    </div>
                    <div class="country">
                        <p><b>Language : </b>en </p>
                    </div>
                </div>
            </div>
            <div class="cast">
                <b>Cast</b>
                <br>
                <p>Robert Downey Jr. · Chris Evans · Mark Ruffalo · Chris Hemsworth · Scarlett Johansson · Jeremy Renner · Don Cheadle · Paul Rudd.</p>
            </div>
    </div>
</div>