<!-- <div class="col-6" style="background-color: red;">
    <div class="row">
    </div>
</div> -->


<!-- <div class="bg-image" style="background-image: url('https://www.themoviedb.org/t/p/original  {{movie.backdrop_path}}'  ); height: 100vh; background-size: cover;"> -->
<!-- <div [ngStyle]="{'background-image': 'url('https://www.themoviedb.org/t/p/original'+{{movie.backdrop_path}})'}"> -->
<div style="background-image: url(https://www.themoviedb.org/t/p/original{{movie.backdrop_path}});background-size: 100% 52.5%;">
    <app-back-button></app-back-button>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0); height: 50vh;">
        <div class="d-flex justify-content-center align-items-center h-100">
        </div>
    </div>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.9); height: 60vh;">
        <div class="d-flex">
            <div class="col-8">
                <div class="title">
                    <h2>{{movie.original_title}}</h2>
                </div>
                <div class="des">
                    <p>{{movie.overview}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="info col-4">
                <div class="genre">
                    <p><b>Genre : </b>{{movie.genre}} </p><br>
                </div>
                <div class="director">
                    <p><b>Director : </b>{{movie.Director}} </p><br>
                </div>
                <div class="country">
                    <p><b>Country : </b>{{movie.Country}} </p>
                </div>
            </div>
            <div class="info col-4">
                <div class="genre">
                    <p><b>Release Date : </b>{{movie.release_date | date}} </p><br>
                </div>
                <div class="director">
                    <p><b>Rating : </b>{{movie.vote_average}}</p><br>
                </div>
                <div class="country">
                    <p><b>Language : </b>{{movie.original_language}} </p>
                </div>
            </div>
        </div>
        <div class="cast">
            <b>Cast</b>
            <br>
            <p>{{movie.cast}}</p>
        </div>
    </div>
</div>
