.title{
    color: white;
    padding: 5px 10px;
}

.des {
    color: white;
    padding: 15px 10px;
}

.info{
    color: white;
    padding: 25px 20px;
}

.cast{
    color: white;
    padding: 25px 10px;
}

.cast p{
    padding: 5px 35px;
}